{% extends "core/base.html" %}


{% block content %}

{% for msg in messages %}
  <div class="alert alert-success" role="alert">
    <h5 class="alert-heading"></h5>
    <p class="mb-3">{{ msg }}</p>
  </div>
{% endfor %}

  <div class="card">
    <p>Вибрати екземпляр: </p>
    <form action="{% url 'library_reception:book_lending' %}" method="post">
  
      {% csrf_token %}
      {{ rent_form.as_p }}
      <button class="btn btn-warning" name="submit">Орендувати книгу</button>
        
    </form>
  </div>
  
  <div>
    <a class="btn btn-outline-success" 
       href="{% url 'library_reception:lending_book_reserved' %}">Орендувати замовлену книгу</a>
  </div>
   
{% endblock content %}