{% extends "core/base.html" %}

{% block content %}

  <h4>Головна сторінка рецепціі</h4>
  <div  class="card_table">
    <p>Журнал арендованих книг</p>
    <table width="100%" border="1">
        <tr>
          <th width="15%">Книгу отримав</th>
          <th width="15%">Початок оренди</th>
          <th width="40%">Назва книги</th>
          <th width="15%">Хто видав</th>
          <th width="15%">Закінчення оренди</th>
        </tr>
        {% for rent in rent_form.all %}
        <tr>
          <td>{{ rent.member }}</td>
            <td >{{ rent.start_rent_date }}</td>
            <td>
              {% for book in rent.books.all %}
              <ul><li>{{ book }}</li></ul>
              {% endfor %} 
            </td>
            <td>{{ rent.librarian }}</td>
            <td>{{ rent.return_date }}</td>
          </tr>
        {% endfor %} 
    </table>   
  </div>
    
{% endblock content %}

