{% extends "core/base.html" %}

{% block content %}

  <h4>Головна сторінка рецепціі</h4>
  {% for msg in messages %}
  <div class="alert alert-success" role="alert">
    <h5 class="alert-heading"></h5>
    <p class="mb-3">{{ msg }}</p>
  </div>
  {% endfor %}
  <div  class="card_table">
    <p>Журнал арендованих книг</p>
    <table width="100%" border="1">
        <thead>
          <th width="4%">№<br>п/п</th>
          <th width="11%">Книгу отримав</th>
          <th width="15%">Початок оренди</th>
          <th width="30%">Назва книги</th>
          <th width="10">ID книги</th>
          <th width="13%">Хто видав</th>
          <th width="17%">Закінчення оренди</th>
        </thead>
        {% for rent in page_obj.object_list %}
        <tr>
          <td>"{{ rent.member }}" {{ rent.member.first_name }}</td>
            <td >{{ rent.start_rent_date }}</td>
            <td>
              {% for book in rent.books.all %}
              <ul><li>{{ book }}</li></ul>
              {% endfor %} 
            </td>
            <td>
              {% for book in rent.books.all %}
              <ul><li>{{ book.pk }}</li></ul>
              {% endfor %} 
            </td>
            <td>"{{ rent.librarian }}" {{ rent.librarian.first_name }}</td>
            <td>{{ rent.return_date }}</td>
          </tr>
        {% endfor %} 
    </table>   
    <span class="current">
      Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}.
    </span>
    <nav>
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Попередня</a>
        </li>
        {% endif %}

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">Наступна</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
    
{% endblock content %}

