{% extends "core/base.html" %}

{% block content %}

  <h4>Головна сторінка рецепціі</h4>
  <div class="card_table">
    <p>Журнал замовлень</p>
    <table border="1" cellpadding="5">
      <tr>
        <th>Назва книги</th>
        <th>Початок оренди</th>
        <th>Закінчення оренди</th>
      </tr>
      {% for rent in rents %}
      
      <p>{{ rent.librarian }} видав {{ rent.member }}:</p>
        {% for book in rent.books.all %}
          <tr>
            <td>{{ book }}</td>
            <td>{{ rent.start_rent_date }}</td>
            <td>{{ rent.return_date }}</td>
          </tr>
        {% endfor %} 
      {% endfor %} 
    </table>   
  </div>
    
{% endblock content %}

