{% extends "core/base.html" %}


{% block content %}

{% for msg in messages %}
  <div class="alert alert-success" role="alert">
    <h5 class="alert-heading"></h5>
    <p class="mb-3">{{ msg }}</p>
  </div>
{% endfor %}

<div class="card">
    <p>Орендувати замовлену книгу: </p>
    <form action="{% url 'library_reception:rent_book_reserved' %}" method="post">
  
      {% csrf_token %}
      {{ rent_reserved_form.as_p }}
      <button class="btn btn-warning" name="submit">Орендувати замовлену книгу</button>
        
    </form>
  </div>
{% endblock %}