body {
    background: #8abe9b;
}

header {
    height: 30%;
    background-color: #d1ecda;
    text-align: center;
    border-right: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: brown;

}

main a {
    margin-left: 25em;
    text-align: center;
    
}

main {
    height: 35em;
    background-color: burlywood;

}


main p {
    color: brown;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

main div .card {
    color: #3f4574;
    height: 50em;
    background-color: rgb(205, 235, 146);
    width: 70%;
    margin-left: 20em;
    
}


footer {
    height: 2.5em;
    text-align: center;
    background-color: coral;
}

