{% extends "core/base.html" %}


{% block content%}
    <div class="features">

        <form class="d-flex" role="search" action="{% url 'core:books' %}">
            <input class="form-control me-2" type="search" placeholder="Введіть критерій пошуку (книжка, автор тощо)" aria-label="Search" name="search">
            <button class="btn btn-warning" type="submit">Шукати</button>
        </form>
    
    </div>

    <div>
        {% if posts %}
          {% for post in posts %}
            <p>
              {{ post.title }}
            <br>
              {{ post.text }}
            </p>
          {% endfor %}
        {% else %}
          Новин немає
        {% endif %}
    </div>
{% endblock content %}
