body {
    background: #8abe9b;
}

header {
    height: 15%;
    background-color: #d1ecda;
    text-align: center;
    border-right: 5px solid #bfe321;
}

header .logo {
    font-style: italic;
    font-size: 30pt;
    margin-left: auto;
    font-weight: bold;
    color: brown;
}

header img {
    width: 300px;
    height: 154px;
    float: left;
    padding: 2px;
}

main {
    height: 30em;
    background-color: burlywood;
}

main div {
    color: chartreuse;
    text-align: center;
    font-family: serif;
}

main aside {
    float:left;
    background:#3f4574;
    width: min-content;
    height: 30em;
    padding: 2.0%;
    color: rgb(240, 212, 173);
    border-right: 5px solid #d1ecda;
}            

main aside h5 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 100px;
    font-size: 30px;
}    

main aside ul li {
    font-family: Arial, sans-serif;
    color: aqua;
    display: block;
    margin-top: 20px;
    transition: transform cubic-bezier(0.6, 0.04, 0.98, 0.335) ease;
}

main aside ul:hover, aside ul a:hover {
    color: rgb(179, 78, 78);
    text-decoration: none;
    transform: scale(1.1);

}

footer {
    height: 10%;
    text-align: center;
    background-color: coral;
}

