body {
    background: #b3d8c0;
}

header {
    height: 30%;
    background-color: #d1ecda;
    text-align: center;
    border-right: 5px;
}

header div p {
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

header .logo {
    font-style: italic;
    font-size: 30pt;
    margin-left: auto;
    font-weight: bold;
    color: brown;
}

header img {
    width: 300px;
    height: 100px;
    float: left;
    padding: 2px;
}

main {
    height: 35em;
    background-color: burlywood;
    
}


main div {
    width: 30%;
    float: right;
    margin-top: 2em;
    margin-right: 12em;
    
}

main div form {
    width: 30em;
    float: left;
}

main h4 {
    color: brown;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;

}

main table tr, th, td {
    padding: 0.5px;
    border: 1px solid green;
    background-color: bisque;
    border-collapse: collapse;
    border-style: double;
    
}

main p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main .reseption_01 {
    height: 1%;
    margin-top: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: brown;

}

main .warehouse_01 {
    float: left;
    width: 20%;
    padding-left: 1%;
    margin-left: 3%;
}

main .warehouse_02 {
    width: 35%;
}

main .warehouse_02 h5 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-style: italic;
}

main .warehouse_03 {
    width: auto;
    float: left;
    margin-left: 3%;
    padding: 2%;
    font-size: 8px;
}

main .warehouse_add_book_ins {
    float: left;

}

main .warehouse_add_book_ins button {
    margin-left: 40%;
}

main .warehouse_list_item_01 {
    height: 1%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-style: italic;
}

main .warehouse_list_item_02 {
    font-size: smaller;
    width: 50%;
}

main .card {
    color: #3f4574;
    background-color: rgb(205, 235, 146);
    width: 40%;
    margin-left: 10em;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 2px;
    font-size: smaller;
    
}

main .card_table {
    color: #3f4574;
    background-color: rgb(235, 222, 146);
    width: 65%;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid #d1ecda;
    
}

main .card-news {
    color: brown;
    text-align: center; 
    margin-top: 25.5em;
}

main .visitors_01 {
    width: 50%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-style: italic;
}


main nav, main .current {
    font-size: x-small;
}

aside {
    float:left;
    background:#565e9b;
    width: 17%;
    height: 35em;
    padding: 1.0%;
    color: rgb(240, 212, 173);
    border-right: 5px solid #d1ecda;
}            

aside h5 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1%;
    font-size: 30px;
    padding-left: 1%;
}    

aside ul li {
    font-family: Arial, sans-serif;
    color: rgb(206, 112, 29);
    display: block;
    margin-top: 20px;
    
}

aside ul a:hover {
    text-decoration: none;
    transform: scale(1.1);

}

footer {
    height: 2.5em;
    text-align: center;
    background-color: coral;
}

