body {
    background: #8abe9b;
}

header {
    height: 30%;
    background-color: #d1ecda;
    text-align: center;
    border-right: 5px solid #bfe321;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: brown;

}
main {
    height: 40em;
}

 

footer {
    height: 2.5em;
    text-align: center;
    background-color: coral;
}

