{% extends "core/base.html" %} 

{% block content %}

{% for msg in messages %}
  <div class="alert alert-success" role="alert">
    <h5 class="alert-heading"></h5>
    <p class="mb-3">{{ msg }}</p>
  </div>
{% endfor %}

<div class="warehouse_02"><h4>Головна сторінка складу</h4></div>

<div class="warehouse_01">
  <form role="search" action="{% url 'warehouse:search_book' %}">
    <input class="form" size="35px" type="search" 
          aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-3"  
            type="submit">Пошук книги</button>
  </form>
  <form role="search" action="{% url 'warehouse:search_author' %}">
    <input class="form" size="35px" type="search" 
           aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-3" 
            type="submit">Пошук автора</button>
  </form>
</div>
<div class="warehouse_02" style="border: 1px solid green;">
  <h5>Журнал книжок бібліотеки:</h5>
  <ol>
    {% for book in book_items %}
      <li>{{ book }} id: {{ book.id }}</li>
    {% endfor %}
  </ol>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% for page in pages %}
      <li class="page-item {% if page == page_current %} active {% endif %}">
        <a class="page-link" href="/warehouse/?page={{ page }}">{{ page }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</div>  

<div class="warehouse_03">
  <a class="btn btn-outline-success" 
     href="{% url 'warehouse:add_book_instance' %}">Додати екземпляр</a>
     <br>
  <a class="btn btn-outline-success"  
     href="{% url 'warehouse:return_instance' %}">Повернення книги</a>
     <br>
  <a class="btn btn-outline-success"
     href="{% url 'warehouse:list_items' %}">Книги на поличках</a>
</div>

{% endblock content %}
