{% extends "core/base.html" %} 

{% block content %}
  

  <div>
    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'warehouse:search_book' %}">
      <input class="form-control mr-sm-1" type="search" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-3" type="submit">Пошук книги</button>
    </form>
  </div>
  <div>
    <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'warehouse:search_author' %}">
      <input class="form-control mr-sm-1" type="search" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-3" type="submit">Пошук автора</button>
    </form>
  </div>
 
  <a class="btn btn-outline-success" href="{% url 'warehouse:add_book_instance' %}">Додати екземпляр</a>

{% endblock content %}
